img.collectibles-icon {content: url(../Images/datapoint-icon-collectibles.png);}
img.audio-icon {content: url(../Images/datapoint-icon-audio.png);}
img.hologram-icon {content: url(../Images/datapoint-icon-hologram.png);}
img.text-icon {content: url(../Images/datapoint-icon-text.png);}
img.scanned-glyphs-icon {content: url(../Images/datapoint-icon-scanned-glyphs.png);}

#page-content {
    width: 100vw;
    font-size: 2em;
}

/* Container with EVERYTHING - Dtype chooser, the container with all the actual datapoints, sidebar */

#main-container {
    position: relative;
    width: 100vw;
    height: 100%;
    
    /* transform: translateX(-100%); */
    /* transition: transform 1s ease; */
}

@media (min-width: 1024px) {
    #main-container {
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* For mobile, this means the leftmost bar and main container */

#main-container > * {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms ease;
    z-index: 0;
}

@media (min-width: 1024px) {
    #main-container > * {
        opacity: 1;
        position: relative;
    }
}

/* .shown can be applicable to the leftmost panel (section#datapoint-types) and the main panel (section#datatype-container) */

#main-container > .shown {
    opacity: 1;
    z-index: 1;
}

/* The leftmost sidebar on desktop - where you can choose the datapoint type */

section#datapoint-types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    section#datapoint-types {
        /* background-color: aqua; */
        
        flex: 4 0 0;
        justify-content: start;
    }
}

#datapoint-types-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    #datapoint-types-inner {
        height: auto;
        overflow: visible;
        padding: 30px 20px;
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.25), transparent), linear-gradient(to right, transparent, rgba(0, 0, 0, 0.25), transparent);
    }
}

#datapoint-types-inner > .datapoint-choice {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1em;
}

@media (min-width: 1024px) {
    .datapoint-choice {
        color: var(--steel-blue);
        height: fit-content;
    }
    
    .datapoint-choice:hover {
        color: var(--selection-yellow);
    }
    
    .datapoint-choice.datatype-selected {
        color: var(--selection-yellow);
    }

    .datatype-selected > .audio-icon {content: url(../Images/datapoint-icon-audio-yellow.png);}
    .datatype-selected > .hologram-icon {content: url(../Images/datapoint-icon-hologram-yellow.png);}
    .datatype-selected > .text-icon {content: url(../Images/datapoint-icon-text-yellow.png);}
    .datatype-selected > .scanned-glyphs-icon {content: url(../Images/datapoint-icon-scanned-glyphs-yellow.png);}
}

.datapoint-choice > img {
    height: 2em;
    width: auto;
}

.datapoint-choice > header {
    width: 100%;
}

.datapoint-choice > header::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    filter: invert(0.8);
    background: url(../Images/IDK2.png) center/contain no-repeat;
}

@media (min-width: 1024px) {
    .datapoint-choice > header::before {
        all: unset;
    }
}

/* Container for each section of datapoints */

section#datatype-container {
    
    /* background-color: blue; */
}

@media (min-width: 1024px) {
    section#datatype-container {
        pointer-events: none;
        flex: 10 0 0;
        /* width: fit-content; */
    }
    
    section#datatype-container.shown {
        pointer-events: all;
    }
}

/* section#datatype-container > section.datatype */

section.datatype {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms ease;
    z-index: 0;
    counter-reset: datapoint-number;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    pointer-events: none;
}

@media (min-width: 1024px) {
    /* Gap bewteen 'Audio Datapoints' and the grid (basically for the line under the title) */
    section.datatype {
        gap: 20px;
    }
}

section.datatype.shown {
    opacity: 1;
    z-index: 1;
    pointer-events: all;
}

.datatype > * {
    width: 100%;
}

.datatype > .datatype-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    height: 2em;
    overflow: hidden;
    font-size: 0.65em;
}

@media (min-width: 1024px) {
    .datatype > .datatype-title {
        overflow: visible;
        justify-content: flex-start;
    }
    
    .datatype-title::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 15px;
        background-image: url(../Images/scrollbar-horizontal.png);
        background-position: 0 center;
        background-size: 100% cover;
        background-repeat: no-repeat;
        filter: saturate(3);
    }   
}

.datatype-title > img {
    content: url(../Images/Plus2.png);
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    height: 2em;
    width: auto;
}

.datatype-title > header {
    color: var(--steel-blue);
    text-align: center;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.5em;
}

@media (min-width: 1024px) {
    .datatype-title > img {
        display: none;
    }
    
    .datatype-title > header {
        text-align: left;
    }
}

/* The grid of datapoints */

.datapoint-container-outer {
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
    overflow: auto;
}

@media (min-width: 1024px) {
    .datapoint-container-outer::-webkit-scrollbar {
        width: 8px;
        background: url(../Images/scrollbar-veretical.png) center/cover no-repeat;
    }
    
    .datapoint-container-outer::-webkit-scrollbar-thumb {
        background: url(../Images/scrollbar-thumb-vertical.png) center/100% 100% no-repeat;
    }
}

.datapoint-container {
    --columns: 1;
    height: fit-content;
    width: calc(100% - 20px);
    
    display: grid;
    grid-template-columns: repeat(1, 100%);
}

/* Finally, datapoints themselves */

.datapoint {
    width: 100%;
    user-select: none;
    counter-increment: datapoint-number;
    --datapoint-audio-height: 0em;
    --datapoint-text-max-height: 8em;
}

.datapoint[media-type] {
    --datapoint-audio-height: 5em;
}

.datapoint-title {
    display: flex;
    align-items: center;
}

/* This is the number associated with each datapoint, placed at the start of the datapoint title */

.datapoint-title::before {
    content: counter(datapoint-number);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--steel-blue);
    height: 1em;
    aspect-ratio: 1 / 1;
    font-size: 0.5em;
    margin-right: 5px;
}

.datapoint-title > header {
    position: relative;
    display: block;
    width: calc(100% - 1.1em);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.1em;
    transition: color 250ms ease;
    /* color: var(--steel-blue); */
    color: rgba(255, 255, 255, 0.85);
}

@media (min-width: 1024px) {
    .datapoint.focused > .datapoint-title > header {
        color: var(--selection-yellow);
    }
    
    .datapoint-title::before {
        font-size: 0.70em;
    }
    
    .datapoint-title > header {
        font-size: 1.5em;
    }
}

.datapoint.selected > .datapoint-title > header {
    color: var(--selection-yellow);
}

.datapoint-content {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    height: 0;
    overflow: hidden;
    transition: height 250ms ease;
}

@media (min-width: 1024px) {
    .datapoint-content {
        padding-left: 1em;
        font-size: 22px;
    }
}

.datapoint.selected > .datapoint-content {
    height: calc(var(--datapoint-audio-height) + var(--datapoint-text-size) + 10px);
}

.datapoint-audio {
    --perc: 0%;
    position: relative;
    height: var(--datapoint-audio-height);
    margin: 0 auto;
    padding: 1em 0;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (min-width: 1024px) {
    .datapoint-content > .datapoint-audio {
        margin: 0;
        width: 500px;
    }
}

.datapoint-audio::after, .datapoint-audio::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    
    background: url(../Images/scrollbar-horizontal.png) center/100% no-repeat;
}

.datapoint-audio::before {
    bottom: unset;
    top: 0;
}

/* Contents of the audio part of the datapoint, i.e. progress bar and audio-info */

.datapoint-audio > audio {
    display: none;
}

.datapoint-audio > .play-button {
    height: 2em;
    aspect-ratio: 1 / 1;
    
    background: url(../Images/play-button.png) center/cover no-repeat;
}

.datapoint-audio.playing > .play-button {
    background-image: url(../Images/pause-button.png);
}

.datapoint-audio > .progress-bar {
    position: relative;
    width: 100%;
    height: 1em;
    background-color: gray;
    border-radius: 5px;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.datapoint-audio > .progress-bar::after {
    content: '';
    position: absolute;
    width: var(--perc);
    transition: width 200ms linear;
    height: 100%;
    background-color: white;
}

.datapoint-text {
    color:rgba(255, 255, 255, 0.85);
    height: var(--datapoint-text-size);
    overflow: auto;
}

text b {
    color: rgba(255, 255, 255, 0.85);
}

text code {
    font-family: 'Inconsolata', monospace;
}

text :is(p, dl, code) {
    margin: 0;
}

/* Datapoint Popup */

#datapoint-popup {
    display: none;
}

/* Hide the desktop rightmost sidebar */

section#desktop-sidebar {
    display: none;
}

@media (min-width: 1024px) {
    section#desktop-sidebar {
        flex: 5 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: opacity 250ms ease;
    }

    section#datatype-container:not(.shown) ~ section#desktop-sidebar {
        opacity: 0;
    }
    
    #desktop-sidebar > header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2.1vw;
        width: 100%;
        aspect-ratio: 528 / 94;
        padding-left: 40px;
        color: white;
        background: url(../Images/cum2.png) 0/contain no-repeat
    }
    
    #desktop-sidebar > div {
        /* This is the description of sorts */
        font-family: 'Inconsolata', monospace;
        font-weight: 700;
        padding-left: 40px;
        width: 100%;
        text-align: left;
        font-size: 0.65em;
        color:rgba(255, 255, 255, 0.85);
    }
    
    #desktop-sidebar > img.datatype-poster {
        margin-top: auto;
        width: 100%;
    }
}

/* Time for the classic Layout stuff */

@media (min-width: 1024px) {
    /* Classic Layout for desktop */
    .classic-layout .datapoint-container {
        --columns: 12;
        grid-template-columns: repeat(var(--columns), 1fr);
        gap: 0.1vw;
    }
    
    .classic-layout .datapoint {
        width: 100%;

        position: relative;
        aspect-ratio: 1 / 1;
        
        background: url(../Images/DatapointBackground-Transparent.png) center/cover no-repeat;
    }
    
    .classic-layout .datapoint::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        
        background: center/cover no-repeat;
    }
    .classic-layout #Audio .datapoint::before {background-image: url(../Images/datapoint-icon-audio.png);}
    .classic-layout #Hologram .datapoint::before {background-image: url(../Images/datapoint-icon-hologram.png);}
    .classic-layout :is(#Text-Quest, #Text-World, #Text-Machines) .datapoint::before {background-image: url(../Images/datapoint-icon-text.png);}
    .classic-layout #Scanned-Glyphs .datapoint::before {background-image: url(../Images/datapoint-icon-scanned-glyphs.png);}

    .classic-layout #Audio .datapoint.focused::before {background-image: url(../Images/datapoint-icon-audio-yellow.png);}
    .classic-layout #Hologram .datapoint.focused::before {background-image: url(../Images/datapoint-icon-hologram-yellow.png);}
    .classic-layout :is(#Text-Quest, #Text-World, #Text-Machines) .datapoint.focused::before {background-image: url(../Images/datapoint-icon-text-yellow.png);}
    .classic-layout #Scanned-Glyphs .datapoint.focused::before {background-image: url(../Images/datapoint-icon-scanned-glyphs-yellow.png);}
    
    .classic-layout .datapoint > * {
        display: none;
    }

    /* The desktop popup */

    #datapoint-popup.shown {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url(../Images/Background\ -\ Centered.png) center/cover no-repeat;
        z-index: 999;
        display: block;
    }

    #popup-main {
        display: flex;
        justify-content: center;
        align-items: stretch;
        height: 90vh;
        /* background-color: aquamarine; */
    }

    #popup-main > #popup-content {
        flex: 6 0 0;

        display: flex;
        justify-content: center;
        align-items: center;

        /* background-color: greenyellow; */
    }

    #popup-info {
        /* background-color: burlywood; */
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #popup-info > header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 3em;
        aspect-ratio: 528 / 94;
        color: white;
        background: url(../Images/cum2.png) 0/contain no-repeat;
        text-align: center;
        padding: 0;
    }

    #popup-info > span {
        font-size: 2em;
        color: var(--steel-blue);
    }

    #popup-info > .datapoint-audio {
        height: 6em;
        margin: 10px 0;
        width: 50%;
    }

    #popup-content:not([media-type]) .datapoint-audio {
        display: none;
    } 

    #popup-info > #popup-text {
        padding-right: 10px;
        font-family: 'Inconsolata', monospace;
        font-size: 21px;
        width: 75%;
        height: 50%;
        color:rgba(255, 255, 255, 0.85);
        overflow: auto;
    }

    #popup-text::-webkit-scrollbar {
        width: 8px;
        background: url(../Images/scrollbar-veretical.png) center/cover no-repeat;
    }
    
    #popup-text::-webkit-scrollbar-thumb {
        background: url(../Images/scrollbar-thumb-vertical.png) center/100% 100% no-repeat;
    }

    #popup-main > #poster-img {
        flex: 4 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #poster-img > img {
        max-width: 100%;
        max-height: 100%;
    }

    #datapoint-popup > .controls-container {
        padding: 0 10%;
        height: 10vh;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Just for convenience */

@media (max-width: 1550px) and (min-width: 1024px) {
    #datapoint-types-inner > .datapoint-choice {
        /* Fancy calculation: 0.75em at 1024px, 1em at 1550px */
        font-size: calc(0.75em + 8 * (100vw - 1024px) / 526);
    }
    
    .classic-layout .datapoint-container {
        --columns: 10;
    }
}

@media (max-width: 1300px) and (min-width: 1024px) {
    .classic-layout .datapoint-container {
        --columns: 8;
    }
}