body {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 55%;
    max-height: 55%;
    transform: translateY(-150px);

    filter: invert(1);
}

/* 150 - 1364 */