@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Horizon';
    src: url(../Fonts/Horizon.woff2) format('woff2');
}

:root {
    font-family: 'Horizon';
    color: white;
}

* {
    box-sizing: border-box;
}

a, a:focus, a:hover {
    -webkit-touch-callout: none;
    /* -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    color: unset;
    text-decoration: none;
}

html, body {
    height: 100vh;
    height: fill-available;
    height: -moz-fill-available;
    height: -webkit-fill-available;
}