/* Imported from main.css */

:root {
    --steel-blue: hsl(180, 13%, 62%);
    --selection-yellow: rgb(255, 255, 160);
}

::selection {
    background-color: var(--selection-yellow);
    color: black;
}

* {
    cursor: url(./Images/Cursor.png), auto;
}

body {
    --mobile-nav-height: 20%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: black;

    background-image: url(./Images/Background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

nav#mobile-nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* Mobile Nav Header - Logo and + symbol */

nav#mobile-nav > #nav-header {
    position: relative;
    height: var(--mobile-nav-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    font-size: 2em;
}

#nav-line {
    position: relative;
    width: 100%;
    height: 5px;
}

#nav-line > img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#nav-header > * {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#nav-header > #logo-container {
    width: 85%;
}

#nav-header > #logo-container > img {
    max-height: 90%;
    max-width: 90%;
}

#toggle-nav {
    position: relative;
    justify-content: center;
    height: unset;
    width: 15%;
    aspect-ratio: 1 / 1;
}

#toggle-nav > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.nav-expanded #toggle-nav > img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(5198%) hue-rotate(330deg) brightness(107%) contrast(101%);
}

/* Mobile Nav Body - All Page Links */

nav#mobile-nav > .nav-body {
    flex: 0 0 calc(100% - var(--mobile-nav-height));
    width: 100%;
    /* background-color: antiquewhite; */

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.nav__link {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
    opacity: 0;
    transition: opacity 250ms ease;
    /* Delay while disappearing */
    transition-delay: calc(var(--delay) - var(--base-delay) - 250ms);
    overflow: hidden;
}

.nav-expanded #mobile-nav .nav__link {
    opacity: 1;
    /* Delay while appearing */
    transition-delay: var(--delay);
    height: 100%;
    height: 100%;
    width: 100%;
}

#mobile-nav .nav__link {
    background: var(--img-url) center/contain no-repeat;
    filter: saturate(2);
}

#mobile-nav .nav__link--current {
    pointer-events: none;
    filter: blur(2px);
}

/* Actual Page (Dekstop version will display entirely here) */

#page {
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(100% - var(--mobile-nav-height));
    width: 100%;
    opacity: 1;
    padding: 10px 0;

    transition: opacity 250ms ease;
    /* Delay while appearing */
    transition-delay: calc(250ms + var(--base-delay));
}

.nav-expanded > #page {
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    user-select: none;
    /* Delay while disappearing */
    transition-delay: 0s;
}

#page > #page-content {
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;
}

/* Hide the dekstop navigation bar */

#desktop-nav {
    display: none;
}

/* Hide the desktop control bar */

.controls-container {
    display: none;
}

@media (min-width: 1024px) {
    nav#mobile-nav {
        display: none;
    }

    #page {
        height: 100vh;
        padding: 0;
        opacity: 1 !important;
        transition: none;
        user-select: auto !important;
        pointer-events: auto !important;
    }

    /* Desktop Navigation Bar */

    #desktop-nav {
        position: relative;
        display: block;
        height: 15vh;
        width: 100%;
        padding-bottom: 15px;
        /* background-color: #ffffff88; */

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        font-size: 3em;
        color:var(--steel-blue);
    }

    .desktop-nav__child {
        display: flex;
        justify-content: center;
        align-items: stretch;
    }

    /* Network Display */
    
    #network-status {
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        left: 1em;
        height: 40%;
        aspect-ratio: 1 / 1;
        background: url(/ZeroDawn/Images/offline.png) 0/contain no-repeat;
        opacity: 0;
        transition: opacity 250ms ease;
        z-index: 1;
    }

    #network-status.offline {
        opacity: 1;
    }

    #network-status::after {
        user-select: none;
        pointer-events: none;
        z-index: 1;
        content: "You're offline. Some features may not work.";
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        top: 50%;
        transition: all 250ms ease;
        transform: translate(-100px, -50%);
        left: 120%;
        white-space: nowrap;
        background-color: rgb(255, 64, 64);
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.5em;
        padding: 0 10px;
        border-radius: 10px;
        opacity: 0;
    }

    #network-status.offline:hover::after {
        opacity: 1;
        transform: translate(0, -50%);
    }

    /* Page Navigation Buttons (Q & E) */

    #page-navigate-left, #page-navigate-right {
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
        font-size: 0.5em;
        padding: 0 0.5em;
        border-radius: 5px;
        box-shadow: 0 5px rgba(255, 255, 255, 0.2);
        transition: color 150ms ease;
    }

    :is(#page-navigate-left, #page-navigate-right):hover {
        color: rgb(255, 255, 160);
    }

    /* Actual Links */

    #desktop-nav > .nav-body {
        font-size: 0.75em;
        gap: 10px;
        width: fit-content;
        height: 100%;
        justify-content: center;
        letter-spacing: 3px;
    }

    #desktop-nav .nav__link {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0.5;
        transition: opacity 150ms ease;
    }

    #desktop-nav .nav__link:hover {
        opacity: 1;
    }

    #desktop-nav .nav__link--current {
        filter: saturate(2);
        opacity: 1 !important;
    }

    .nav__link > img {
        height: clamp(72px, 6vw, 128px);
        width: auto;
    }

    #page > #page-content {
        height: 75vh;
    }

    #page > .controls-container {
        padding: 0 10%;
        height: 10vh;

        display: flex;
        justify-content: space-between;
        align-items: center;

        /* background-color: rgba(255, 255, 255, 0.5); */
    }

    .controls-container > * {
        font-size: 2em;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: white;
        transition: color 150ms ease;
    }

    .controls-container > *:hover {
        color: rgb(255, 255, 160)
    }

    .controls-container .control-key {
        color: black;
        font-size: 0.75em;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0 0.5em;
        border-radius: 5px;
        box-shadow: 0 5px rgba(255, 255, 255, 0.2);
        transition: color 150ms ease;
    }
}

/* Originally in Datapoints.css */

img.collectibles-icon {content: url(./Images/datapoint-icon-collectibles.png);}
img.audio-icon {content: url(./Images/datapoint-icon-audio.png);}
img.hologram-icon {content: url(./Images/datapoint-icon-hologram.png);}
img.text-icon {content: url(./Images/datapoint-icon-text.png);}
img.scanned-glyphs-icon {content: url(./Images/datapoint-icon-scanned-glyphs.png);}

#page-content {
    width: 100vw;
    font-size: 2em;
}

/* Container with EVERYTHING - Dtype chooser, the container with all the actual datapoints, sidebar */

#main-container {
    position: relative;
    width: 100vw;
    height: 100%;
    
    /* transform: translateX(-100%); */
    /* transition: transform 1s ease; */
}

@media (min-width: 1024px) {
    #main-container {
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* For mobile, this means the leftmost bar and main container */

#main-container > * {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms ease;
    z-index: 0;
}

@media (min-width: 1024px) {
    #main-container > * {
        opacity: 1;
        position: relative;
    }
}

/* .shown can be applicable to the leftmost panel (section#datapoint-types) and the main panel (section#datatype-container) */

#main-container > .shown {
    opacity: 1;
    z-index: 1;
}

/* The leftmost sidebar on desktop - where you can choose the datapoint type */

section#datapoint-types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    section#datapoint-types {
        flex: 8 0 0;
        justify-content: start;
    }
}

#datapoint-types-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    #datapoint-types-inner {
        height: auto;
        overflow: visible;
        padding: 30px 20px;
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.25), transparent), linear-gradient(to right, transparent, rgba(0, 0, 0, 0.25), transparent);
    }
}

#datapoint-types-inner > .datapoint-choice {
    user-select: none;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1em;
}

@media (min-width: 1024px) {
    .datapoint-choice {
        color: var(--steel-blue);
        height: fit-content;
    }
    
    .datapoint-choice:hover {
        color: var(--selection-yellow);
    }
    
    .datapoint-choice.datatype-selected {
        color: var(--selection-yellow);
    }
    
    .datatype-selected > img {
        filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(5198%) hue-rotate(330deg) brightness(107%) contrast(101%);
    }
}

.datapoint-choice > img {
    height: 2em;
    width: auto;
}

.datapoint-choice > header {
    width: 100%;
}

.datapoint-choice > header::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    filter: invert(0.8);
    background: url(./Images/IDK2.png) center/contain no-repeat;
}

@media (min-width: 1024px) {
    .datapoint-choice > header::before {
        all: unset;
    }
}

/* Container for each section of datapoints */

@media (min-width: 1024px) {
    section#datatype-container {
        background: url(/ZeroDawn/Images/Machines.png) center / contain no-repeat;
        pointer-events: none;
        flex: 20 0 0;
        /* width: fit-content; */
    }
    
    section#datatype-container.shown {
        background: none;
        pointer-events: all;
    }
}

/* section#datatype-container > section.datatype */

section.datatype {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms ease;
    z-index: 0;
    counter-reset: datapoint-number;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    pointer-events: none;
}

@media (min-width: 1024px) {
    /* Gap bewteen 'Audio Datapoints' and the grid (basically for the line under the title) */
    section.datatype {
        gap: 20px;
    }
}

section.datatype.shown {
    opacity: 1;
    z-index: 1;
    pointer-events: all;
}

.datatype > * {
    width: 100%;
}

.datatype > .datatype-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    height: 2em;
    overflow: hidden;
    font-size: 0.65em;
}

@media (min-width: 1024px) {
    .datatype > .datatype-title {
        overflow: visible;
        justify-content: flex-start;
    }
    
    .datatype-title::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 15px;
        background-image: url(./Images/scrollbar-horizontal.png);
        background-position: 0 center;
        background-size: 100% cover;
        background-repeat: no-repeat;
    }   
}

/* This is the close-datatype-section button */

.datatype-title > img {
    content: url(./Images/Plus.png);
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    height: 2em;
    width: auto;
}

.datatype-title > header {
    color: var(--steel-blue);
    text-align: center;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.5em;
}

@media (min-width: 1024px) {
    .datatype-title > img {
        display: none;
    }
    
    .datatype-title > header {
        text-align: left;
    }
}

/* The grid of datapoints */

.datapoint-container-outer {
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    
    overflow: auto;
}

@media (min-width: 1024px) {
    .datapoint-container-outer::-webkit-scrollbar {
        width: 8px;
        background: url(./Images/scrollbar-vertical.png) center/cover no-repeat;
    }
    
    .datapoint-container-outer::-webkit-scrollbar-thumb {
        background: url(./Images/scrollbar-thumb-vertical.png) center/100% 100% no-repeat;
    }
}

.datapoint-container {
    --shift: 0;
    --columns: 1;
    margin: auto;
    height: fit-content;
    width: calc(100% - 20px);
    
    display: grid;
    grid-template-columns: repeat(1, 100%);
}

@media (min-width: 1024px) {
    .datapoint-container {
        margin: 0;
    }
}

/* Finally, datapoints themselves */

.datapoint {
    width: 100%;
    user-select: none;
    overflow: hidden;
    counter-increment: datapoint-number;
    --datapoint-audio-height: 0em;
}

.datapoint[media-type] {
    --datapoint-audio-height: 5em;
}

@media (min-width: 1024px) {
    .classic-layout .datapoint {
        transform: none !important;
    }
}

.datapoint-title {
    display: flex;
    align-items: center;
}

/* This is the number associated with each datapoint, placed at the start of the datapoint title */

.datapoint-title::before {
    content: counter(datapoint-number);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--steel-blue);
    height: 1em;
    aspect-ratio: 1 / 1;
    font-size: 0.5em;
    margin-right: 5px;
}

.datapoint-title > header {
    position: relative;
    display: block;
    width: calc(100% - 1.1em);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.1em;
    transition: color 250ms ease;
    /* color: var(--steel-blue); */
    color: rgba(255, 255, 255, 0.85);
}

@media (min-width: 1024px) {
    .datapoint.focused > .datapoint-title > header {
        color: var(--selection-yellow);
    }
    
    .datapoint-title::before {
        font-size: 0.70em;
    }
    
    .datapoint-title > header {
        font-size: 1.5em;
    }
}

.datapoint.selected > .datapoint-title > header {
    color: var(--selection-yellow);
}

.datapoint-content {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    opacity: 0;
    display: none;
    transition: opacity, transform 250ms ease;
    transform: translateY(-100%);
}

.selected > .datapoint-content {
    display: block;
    transform: translateY(0);
    opacity: 1;
}

@media (min-width: 1024px) {
    .datapoint-content {
        padding-left: 1em;
        font-size: 22px;
    }
}

.datapoint.selected > .datapoint-content {
    opacity: 1;
}

.datapoint-audio {
    position: relative;
    height: var(--datapoint-audio-height);
    margin: 0 auto;
    padding: 1em 0;
    width: 90%;
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (min-width: 1024px) {
    .datapoint-content > .datapoint-audio {
        margin: 0;
        width: 100%;
    }
}

.datapoint-audio::after, .datapoint-audio::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    
    background: url(./Images/scrollbar-horizontal.png) center/100% no-repeat;
}

.datapoint-audio::before {
    bottom: unset;
    top: 0;
}

/* Contents of the audio part of the datapoint, i.e. progress bar and audio-info */

.datapoint-audio > audio {
    display: none;
}

.datapoint-audio > .play-button {
    height: 2em;
    aspect-ratio: 1 / 1;
    
    background: url(./Images/play-button.png) center/cover no-repeat;
}

.playing .play-button {
    background-image: url(./Images/pause-button.png);
}

.datapoint-audio > .progress-bar {
    --perc: 0;
    position: relative;
    width: 100%;
    height: 1em;
    background-color: gray;
    border-radius: 5px;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.datapoint-audio > .progress-bar::after {
    content: '';
    position: absolute;
    width: calc(var(--perc) * 1%);
    transition: width 200ms linear;
    height: 100%;
    background-color: white;
}

.datapoint-audio > .ratio {
    white-space: nowrap;
    color: var(--steel-blue);
}

.ratio:empty::before {
    content: "Loading...";
}

.datapoint-text {
    color:rgba(255, 255, 255, 0.85);
    overflow: auto;
}

text b {
    color: rgba(255, 255, 255, 0.85);
}

text code {
    font-family: 'Inconsolata', monospace;
}

text :is(p, dl, code) {
    margin: 0;
}

/* Datapoint Popup */

body #datapoint-popup {
    display: none;
}

/* Hide the desktop rightmost sidebar */

section#desktop-sidebar {
    display: none;
}

@media (min-width: 1024px) {
    section#desktop-sidebar {
        flex: 11 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: opacity 250ms ease;
    }
    
    section#datatype-container:not(.shown) + section#desktop-sidebar {
        opacity: 0;
    }
    
    #desktop-sidebar > header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2.1vw;
        width: 100%;
        aspect-ratio: 528 / 94;
        padding-left: 40px;
        color: white;
        background: url(./Images/datapoint-title-brushed-background.png) 0/contain no-repeat;
    }
    
    #desktop-sidebar > div {
        /* This is the description of sorts */
        font-family: 'Inconsolata', monospace;
        font-weight: 700;
        padding-left: 40px;
        width: 100%;
        text-align: left;
        font-size: 0.65em;
        color:rgba(255, 255, 255, 0.85);
    }
    
    #desktop-sidebar > img.datatype-poster {
        margin-top: auto;
        width: 100%;
    }
}

/* Time for the classic Layout stuff */

@media (min-width: 1024px) {
    /* Classic Layout for desktop */
    .classic-layout .datapoint-container {
        --columns: 12;
        grid-template-columns: repeat(var(--columns), 1fr);
        gap: 0.1vw;
    }
    
    .classic-layout .datapoint {
        width: 100%;
        
        position: relative;
        aspect-ratio: 1 / 1;
    }

    .classic-layout .datapoint::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        background: url(./Images/DatapointBackground-Transparent.png) 0/cover;
        opacity: 0.65;
    }
    
    .classic-layout .datapoint::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        
        background: center/cover no-repeat;
    }

    .classic-layout #Audio .datapoint::after {background-image: url(./Images/datapoint-icon-audio.png);}
    .classic-layout #Hologram .datapoint::after {background-image: url(./Images/datapoint-icon-hologram.png);}
    .classic-layout :is(#Text-Quest, #Text-World, #Text-Machines) .datapoint::after {background-image: url(./Images/datapoint-icon-text.png);}
    .classic-layout #Scanned-Glyphs .datapoint::after {background-image: url(./Images/datapoint-icon-scanned-glyphs.png);}

    .classic-layout .datapoint.focused::after {
        filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(5198%) hue-rotate(330deg) brightness(107%) contrast(101%);
    }
    
    .classic-layout .datapoint > * {
        display: none;
    }
    
    /* The desktop popup */

    body:not(.classic-layout) #datapoint-popup {
        display: none !important;
    }
    
    #datapoint-popup.shown {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 999;
        display: block;
    }
    
    .classic-layout #datapoint-popup.shown + #page {
        opacity: 0 !important;
        user-select: none !important;
        pointer-events: none !important;
    }
    
    #popup-main {
        display: flex;
        justify-content: center;
        align-items: stretch;
        height: 90vh;
    }
    
    #popup-main > #popup-content {
        flex: 6 0 0;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #popup-info {
        /* background-color: burlywood; */
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #popup-info > header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 3em;
        aspect-ratio: 528 / 94;
        color: white;
        background: url(./Images/datapoint-title-brushed-background.png) 0/contain no-repeat;
        text-align: center;
        padding: 0;
    }
    
    #popup-info > span {
        font-size: 2em;
        color: var(--steel-blue);
    }
    
    #popup-info > .datapoint-audio {
        height: 6em;
        margin: 10px 0;
        width: 50%;
    }
    
    #popup-content:not([media-type]) .datapoint-audio {
        display: none;
    }
    
    #popup-info > #popup-text {
        padding-right: 10px;
        font-family: 'Inconsolata', monospace;
        font-size: 21px;
        width: 75%;
        height: 50%;
        color:rgba(255, 255, 255, 0.85);
        overflow: auto;
    }
    
    #popup-text::-webkit-scrollbar {
        width: 8px;
        background: url(./Images/scrollbar-vertical.png) center/cover no-repeat;
    }
    
    #popup-text::-webkit-scrollbar-thumb {
        background: url(./Images/scrollbar-thumb-vertical.png) center/100% 100% no-repeat;
    }
    
    #popup-main > #poster-img {
        flex: 4 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    #poster-img > img {
        max-width: 100%;
        max-height: 100%;
    }
    
    #datapoint-popup > .controls-container {
        padding: 0 10%;
        height: 10vh;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #popup-main:not([media-type]) + .controls-container #toggle-play-button {
        opacity: 0;
        user-select: none;
        pointer-events: none;
    }
}

/* Just for convenience */

@media (max-width: 1550px) and (min-width: 1024px) {
    #datapoint-types-inner > .datapoint-choice {
        user-select: none;
        /* Fancy calculation: 0.75em at 1024px, 1em at 1550px */
        font-size: calc(0.75em + 8 * (100vw - 1024px) / 526);
    }
    
    .classic-layout .datapoint-container {
        --columns: 10;
    }
}

@media (max-width: 1300px) and (min-width: 1024px) {
    .classic-layout .datapoint-container {
        --columns: 8;
    }
}